*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: green;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
    background-color: rgba(225, 225, 225, 0.4);
    padding: 30px;
    width: 45%;
    height: 600px;
    margin-left: 350px;
    border-radius: 5px;
    
}
input{
    height: 100px;
    width: 500px;
    border-radius: 20px;
    outline: 0;
    border: 0;
    background-color: white;
    padding: 20px;
}
.btn1{
    padding: 20px;
    border-radius: 20px;
    outline: 0;
    border: 0;
    position: relative;
    left: -200px;
    background-color: white;
}
.btn1:hover{
    background-color: green;
    color: white;
}
h3{
    position: relative;
    left: -200px;
    font-size: 30px;
    color: white;
}
.box2{
    height: 100px;
    width: 500px;
    border-radius: 20px;
    outline: 0;
    border: 0;
    background-color: white;
    padding: 20px;
}